*{
  margin: 0;
  padding: 0;
  font-family: arial;
}

/*Layouts*/
.heading{
    background-color: #ff6b6b;
    text-align: center;
    color: #fff;
}

.subtitle{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}


.links{
    background-color: #ffd43b;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icon{
  fill: #fff;
}

.images{
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: 300px;
}

/*links*/
.link:link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.link:visited{
    color: #fff;
}

.link:hover{
    text-decoration: underline;
}

.donate-txt:link{
    text-decoration: none;
    color: #000;
}

.donate-txt:visited{
    color: #000;
    text-decoration: none;
}

.donate-txt:hover{
    text-decoration: underline;
}

.learn-more-link{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    padding: 10px;
}

.learn-more-link:hover{
    text-decoration: underline;
}

/*Elements*/
body{
  border-bottom: #ff6b6b solid 15px;
}

h2{
  font-size: 72px;
  padding: 10px;
}

p{
    font-family: "Jost", sans-serif;
}

.subtitle-text{
    font-size: 25px;
    margin-bottom: 12px;
}

.title{
    font-size: 75px;
    margin: 32px;
    margin-bottom: 18px;
}

.description{
    font-size: 20px;
    text-align: center;
    width: 76%;
    margin-bottom: 24px;
}

.autoShow{
    animation-duration: 2s;
    animation-name: text-appearY;
}

.pfc-logo{
    margin-right: 150px;
    animation-duration: 3s;
    animation-name: img-moveX;
}

.pfc-rainbowroom-logo{
    animation-duration: 3s;
    animation-name: img-moveX2;
}

button{
    border-radius: 50px;
    width: 500px;
    height: 100px;
    background-image: linear-gradient(#6741d9, #e03131);
    box-shadow: 2px 2px 5px #495057;
    margin-bottom: 32px;
    transition: 150ms ease;
}

button:hover{
   scale: 1.5;
}

/*Animations*/
@keyframes text-appearY{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes img-moveX{
    0%{
        transform: translateX(-200px);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes img-moveX2{
    0%{
        transform: translateX(200px);
    }

    100%{
        transform: translateX(0);
    }
}